﻿@model ECCI_IS_Lab01_WebApp.Models.VistaMatricula1

@{
    ViewBag.Title = "";
}

<h2>Details</h2>

<div>
    <h4>VistaMatricula1</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nota)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nota)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CursoID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CursoID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EstudianteID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EstudianteID)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MatriculaID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
